<div class="container responsive-grid">
    <mat-card *ngFor="let user of users">
        <mat-card-header>
            <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        </mat-card-header>
        <br />
        <img mat-card-image
            src="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36" />
        <mat-card-content>
            <br />
            <p>{{ user.email }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>