.mr {
    margin-right: 5px;
}

.container {
    padding: 24px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.responsive-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}

.mat-mdc-card {
    background-color: white;
}